@import 'variables';
@import 'reset';

/**
 * Začátek mých stylů <-- TOTO TĚ ZAJÍMÁ
**/

Body {
  font-size: $defaultFontSize;
  background: $greyColor;
}

#wrapper {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;

  header {
    height: 10rem;
    background: blue;
    background: url('../obrazky/header-background.png') left bottom no-repeat;
  }

  nav {

  }

  #main {
    display: flex;
    padding-bottom: 5px;
  }

  #strip {
    width: 34rem;

    ul {
      list-style: none;
    }

  }

  #content {

  }

  footer {
    border-top: 1px solid green;
    padding-top: 5px;
  }

}