$defaultFontFamily : 'Calibri', sans-serif;
$defaultFontSize : 16px;
$defaultBorderRadius: 4px;
$greyColor : #f3f3f3;
$blueColor: #9abbff;
$darkBlueColor: #4d78ff;
$greenColor: #06a11c;

$pageBackground : $greyColor;